body, html {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    font: #1f1f20;
    height: 100%;
}

/** Navigation Bar **/
#logo {
    background: url('../images/blackLogo.png') no-repeat;
    height: 60px;
    width: 60px;
    margin: 0 10px 10px 10px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #29a1f1;
}
.navbar-header {
    margin-top: 10px;
}
.navbar-collapse {
    padding: 0;
    margin-top: 12px;
}
#header-nav {
    background-color: #1f1f20;
    border-radius: 0;
    border: 0;
    margin: 0;
}
#nav-list {
    margin: 0;
    border: 0;
}
#nav-list a {
    color: #F8F8F8;
    text-align: center;
}
#nav-list a:hover {
    background: #7a7a7a;
}
#nav-list a.active {
    background: #29a1f1;
}
/** End Nav Bar **/
/** Header Image **/
#bg1 {
    background-image: url('../images/Himalayas.JPG');
    height: 100%; /* Full Height of Page */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bg2 {
    background-image: url('../images/StupaEverestRange.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#bg3 {
    background-image: url('../images/happyTeachersShort.jpeg');
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* other background images in responsive section below */
/** Background Image CAPTIONS */
#sportsDay, #stupa {
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    margin-bottom: 10px;
}
/** End Header Image **/

/** Main Content **/
h1 {
    margin: 0; /* eliminates white margin between nav and background image */
    padding-top: 250px; /* distance between name and navbar */
    padding-bottom: 5%;
    text-align: center;
    color: #151516;
    text-shadow: 1.4px 1.4px #d9ecf8;
    font-weight: bold;
    font-size: 5em;
}
#bg3 h1 {
    color: #f3f5f7;
    text-shadow: 1.4px 1.4px #151516;
}
.background h2 {
    text-align: center;
    color: #FFFFFF;
    text-shadow: 1.2px 1px 0 #151516, -1.2px -1px 0 #151516, -1.2px 1px #151516, 1.2px -1px 0 #151516;
    font-size: 2em;
    font-weight: 500;
}
h2 {
    text-align: center;
    font-weight: bold;
}
p {
    padding-top: 10px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-weight: bold;
}


/** About Me **/

#about img {
    height: 320px;
    border-radius: 20px;
    float: right;
    margin: 1em 8% 1em 2em;
}
#about h2 {
    text-align: center;

}
#about p {
    margin-left: 5%;
}

/** Portfolio **/

#portfolio {
    text-align: center;
}

footer {
    background-color: #1f1f20;
}
#footText {
    color: #F8F8F8;
    text-align: center;
    font-size: .8em;
    padding: 5px 10px;
    margin-bottom: -5px;
}


/*****************************************/
/************* Media Queries *************/
/*****************************************/

/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    #bg3 {
        background-image: url('../images/happyTeachersShort.jpeg');
        height: 75%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
    #nav-list a {
        font-size: 1.2em;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    #bg3 {
        background-image: url('../images/happyTeachersSmall.jpeg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

/********** Super extra small devices only (e.g. iPhone4) **********/
@media (max-width: 479px) {
    h1 {
        padding-bottom: 40% 10px 50px 10px;
        font-size: 2em;
    }
    #bg3 {
        background-image: url('../images/happyTeachersSmall.jpeg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}